mat-grid-tile{
    background-color: aqua;
}
.container {
    display:grid;
    grid-template-columns: auto auto auto auto;
    box-sizing: border-box;
    justify-content: center;
    padding: 10px;
    column-gap: 50px;
    row-gap: 50px; 
    margin-bottom: -10px; 
}
.image{
    justify-content: center;
    padding: 30px;
    align-items: center;
    margin-left: -20px;
}
.innercontainer{
 padding: 10px;
}
.imagelink{
   box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-bottom: 0px    ;
  color: black;

}
.innercontainer:hover{
    box-shadow: 0 0 40px rgba(238, 157, 157, 0.2);
    /* border: 1px solid rgba(172, 170, 170, 0.8); */
}
.categoryname{
    padding: 0;
    text-align: center;
}
.rating{
    text-align: left;
    background-color: rgb(40, 215, 145);
   padding: 5px;
   padding-left: 10px;
   padding-right: 10px;
   font-size: small;
    color: aliceblue;
    border: 1pxs solid black;
}