<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- <app-navbar></app-navbar> <header  *ngIf="userlogin.roleMatch(['Admin']) else elseblock">
    <app-adminnav></app-adminnav>

</header> 
<ng-template #elseblock>
  
    <app-navbar></app-navbar>

</ng-template><br>-->
<br><br><br>
<div class="heading">
    <span style="color:#ffb411;">Categories</span>
    <h2 style=" font-family: 'Poppins',sans-serif; font-weight:500;">Tasty menu of the week </h2>
</div>



<div class="container">
    <div class="innercontainer" *ngFor="let image of images;  let i=index">
        <a class="imagelink"routerLink="../restaurants/{{allcategories[i].id}}"><img class="image" width="90% " style="border-radius: 5px;"[src]="image" alt="image">
        </a>
        <span class="rating" style="font-style:italic;"> <span
                class="fa fa-star checked"></span>&nbsp;{{value[i]}}</span>
        <h3 class="categoryname">{{allcategories[i].categoryname}}</h3>

    </div>
</div>














<!-- <div class="container">
    <div class="innercontainer" *ngFor="let food of allcategories;let j=index">
        <a class="imagelink">
            <img class="image" width="90%" src="{{food.categoryurl}}" alt="categories">
        </a>

        <span class="rating" style="font-style:italic;"> <span
                class="fa fa-star checked"></span>&nbsp;{{value[j]}}</span>
                <h3>{{food.categoryname}}</h3>
    </div>
</div> -->

<!-- <div class="container">
    
    <div class="innercontainer" *ngFor ="let item of foodcategory.Restaurant; let i=index">
       <p>{{item.restaurantname}}</p><br>
        <img [src]="item.Items[i].itemurl" alt="food.itemname"><br>
        <p>{{item.Items[i].itemname}}</p>
      
        <span>&#8377;{{item.Items[i].itemprice}}</span> 
        <span class="rating" style="font-style:italic;"> <span
            class="fa fa-star checked"></span>&nbsp;{{value[i]}}</span>
        <br>
    </div>
    <br>
    <img [src]="foodcategory.categoryurl" alt="food.categoryname"> -->
<!-- </div> --> 











<!-- <div class="menu-container">
    <div class="box"  *ngFor="let image of images;  let i=index" >
        <div class="box-img">
            <a  class="imagelink" href="#"><img  class="image" [src]="image" alt="image"></a>
        </div>
        <span class="rating">{{value[i]}}</span>
        <p class="categoryname">{{allcategories[i]}}</p>
       
        <i class='bx bx-cart-alt'></i>
    </div>

</div> -->


<!-- <h2 style="color:#ffb411;">Categories</h2> -->