
*{
  margin: auto;
}

/* *{
  position: relative;
} */
.image{
border-radius: 50px;
  border-bottom: 1px solid #ffa410;
}

.container {
    display:grid;
    grid-template-columns: auto auto  ;
    box-sizing: border-box;
    justify-content: center;
    padding: 10px;
    column-gap: 50px;
    row-gap: 50px; 
    margin-bottom: -10px;
    font-family: 'Poppins',sans-serif; font-weight:300;
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(220px, auto)); */
    gap: 1.5rem;
    align-items: center; 
}
.image{
    justify-content: center;
    padding: 30px;
    align-items: center;
    /* margin-left: -5px; */
    /* width: 80%; */
}
.innercontainer:active{
  transform: scale(0.98);
}
.innercontainer{
        /* position: relative; */
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
        box-shadow: 0 2px 4px rgb(4 64 54 / 10%);
        font-family: 'Poppins',sans-serif; font-weight:300;
        /* height: auto; */
 padding: 10px;
}
.innercontainer  img {
  width: 25vw;
  height: 35vh;
  }
.imagelink{
   box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-bottom: 0px    ;
  color: black;

}
.innercontainer:hover{
    box-shadow: 0 0 40px rgba(238, 157, 157, 0.2);
    /* border: 1px solid rgba(172, 170, 170, 0.8); */
}
.categoryname{
  font-family: 'Poppins',sans-serif; font-weight:500;
    padding: 0;
    text-align: center;
}
.rating{
    text-align: left;
    background-color: #ffa410;
   padding: 2px;
   padding-left: 10px;
   padding-right: 10px;
   font-size: small;
    color: aliceblue;
    border: 1pxs solid black;
}
h2{
    text-align: center;
}
.heading {
    text-align: center;
    
  }
.heading span {
    color: var(--main-color);
    /* font-weight: 800; */
    font-size: large;
  }
  .heading h2 {
    font-size: 2.24rem;
  
  }
  @media (max-width: 808px) {
    .container{
      display:grid;
      grid-template-columns: auto   ;

    }
    .innercontainer  img{
      width: 55vw;
  height: 35vh;
 
    }
  }
