<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    <div class="container">
        <form #registerform="ngForm" id="createAccount" (ngSubmit)="register()">

            <h1 class="form__title">Create Account</h1>


            <div class="form-group" [class.has-error]="username.invalid &&  username.touched"
            [class.has-success]="username.valid">
                <input type="text" class="form-control" id="username" name="username"
                    [(ngModel)]="userregister.username" #username="ngModel" placeholder="Username" required>
                <div class="alert alert-danger" *ngIf="username.touched && !username.valid">

                    <div *ngIf="username.errors?.['required']">Username required</div>

                </div>
            </div>


            <div class="form-group" [class.has-error]="email.invalid &&  email.touched"
            [class.has-success]="email.valid">
                <input type="text" class="form-control" id="email" email name="email" #email="ngModel"
                    [(ngModel)]="userregister.email" placeholder="Email" required>
                <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
                    <div *ngIf="email.errors">Email invalid</div>
                </div>

            </div>


            <div class="form-group" [class.has-error]="phonenumber.invalid &&  phonenumber.touched"
            [class.has-success]="phonenumber.valid">
                <input type="tel" minlength="10" maxlength="10 " class="form-control" id="phonenumber" pattern="[0-9]*"
                    name="phonenumber" #phonenumber="ngModel" [(ngModel)]="userregister.phonenumber"
                    placeholder="Phonenumber" required>

                <div class="alert alert-danger" *ngIf="phonenumber.touched && !phonenumber.valid">

                    <div *ngIf="phonenumber.errors?.['pattern']">phonenumber invalid</div>
                    <div *ngIf="phonenumber.errors?.['minlength']">phonenumber invalid</div>
                    <div *ngIf="phonenumber.errors?.['required']">Phonenumber required</div>
                   
                </div>

            </div>

            <!-- 
        <label for="confirmpassword">ConfirmPassword</label>
        <input type="password" id="confirmpassword" placeholder="confirmpassword" class="form-control"
            name="confirmpassword" #confirmpassword="ngModel" id="confirmpassword" ngModel> -->

            <!-- <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
            <div *ngIf="password!==confirmpassword">not match</div>
        </div> -->


            <div class="form-group" [class.has-error]="password.invalid &&  password.touched"
                [class.has-success]="password.valid">
                <input type="password" id="password" minlength="7" name="password" class="form-control"
                    #password="ngModel" [(ngModel)]="userregister.password" placeholder="Password" required>

                <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
                    <div *ngIf="password.errors?.['required']">password required</div>
                    <div *ngIf="password.errors?.['minlength']">Password is weak</div>
                </div>

                <!-- <div class="has-error" *ngIf="password.invalid && password.touched">Password is required</div> -->
            </div>

            <!-- <div class="form-group">
                <input type="password" class="form-control" id="confirmpassword" 
                 autofocus placeholder="Confirm password"
                    required>
                <div class="form__input-error-message"></div>
            </div>  -->

            <div class="form-group">
                <button class="form__button" [disabled]="registerform.invalid" id="signupsubmit" type="submit">
                    <!-- <span *ngIf="loading" class="spinner-border 
                    spinner-border-sm mr-1"></span> -->
                    Register
                </button>

                <p class="form__text">
                    <a routerLink="/home/login" class="form__link" id="linkLogin">
                        Already have an account? Sign in</a>
                </p>
            </div>

        </form>
    </div>
</body>

</html>