<app-adminnav></app-adminnav>
<br> <br><br><br><br>
<body>
    <div style="text-align: center;" class="container">
<h3 style="text-align: center;"class="heading">Add dish category</h3><br>


  
       
 
    <form #categorydata="ngForm" (ngSubmit)="onUpload()">
        <!-- <label for="choose category">Choose category </label>&nbsp; -->

        <ng-template #elseblock> 
        <select  name="category" id="category">
            <option *ngFor="let category of categories" value="">{{category.categoryname}} </option>
        </select>
    </ng-template>

        &nbsp;

       <br><br>
        <!-- <label for="categoryname">Add new Category </label>&nbsp;
        <input #check (change)="true" type="checkbox">&nbsp; -->

        <div >
            <br>
            <input type="text"class="input" [(ngModel)]="addcategory.categoryname" required name="categoryname"
                #categoryname="ngModel">&nbsp;
<br><br>
            <input type="file" (change)="onFileChanged($event)">
            <img [src]="imgURL" *ngIf="imgURL">
            
        </div>

       
    
        
        <!-- <tr class="even" *ngFor="let item of rows">
            <input value="{{item.check}}" type="checkbox" checked="item.check"> -->
        <!-- <input type="button" value="Upload"><br><br>
         <br>
        <br>
        <br>
        <label for="itemname">Itemname </label>&nbsp;
        <input type="text"><br><br>
        <label for="itemprice">Itemprice</label>&nbsp;
        <input type="text"><br><br>

        <label for="itempicture">Picture</label>&nbsp;
        <input type="file" (change)="onFileChanged($event)">
        <br>
        <br>
        <br><br>-->

        <button type="submit" class="submit">submit</button> 
    </form>
</div>
<br>
</body>







