<header>

    <a href="#" class="logo"><img src="assets/images/d logo.jpg" alt="logo"></a>
            <a class="address" routerLink="addaddress">Add address</a>
            <ul class="navbar">
                <li><a href="#Menu">Menu</a></li>
                <li><a href="#Search">Search</a></li>
                <li><a href="#About">About</a></li>
                <li><a href="#Contact">Contact</a></li>
                <li><a href="#profile">Profile</a></li>
                <li><a href="#logout">Logout</a></li>
            </ul>
        </header>
       
    