<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div class="container">
        <form class="form" id="login" (ngSubmit)="login()">

            <h1 class="form__title">Login</h1>

            <div class="form__message form__message--error"></div>

            <div class="form__input-group">
                <input type="text" class="form__input" id="phonenumber" name="phonenumber"
                    [(ngModel)]="userlogin.phonenumber" autofocus placeholder="Phonenumber" required>
            </div>

            <div class="form__input-group">

                <input type="password" id="password" name="password" class="form__input"
                    [(ngModel)]="userlogin.password" autofocus placeholder="Password" required>
            </div>

            <div class="form__input-group" style="font-size: 14px; margin-bottom: 1rem;">
                <a routerLink="" class="form__link" id="Forgot password">Forgot password?</a>
            </div>


            <div class="form-group" >
                <button class="form__button" id="signupsubmit" type="submit">Login
                </button>
            </div>

           

    <p class="form__text">
        <a routerLink="/home/signup" class="form__link" id="linkCreateAccount">Don't have an account? Create account</a>
    </p>



    </form>



    </div>

</body>

</html>