
*{
  margin: auto;
}

.container {
    display:grid;
    grid-template-columns: auto auto auto ;
    box-sizing: border-box;
    justify-content: center;
    padding: 10px;
    column-gap: 50px;
    row-gap: 50px; 
    margin-left: -15px;
    gap: 1.5rem;
    align-items: center; 
    
}
.image{
    justify-content: center;
    padding: 20px;
    align-items: center;

    /* border-radius: 40px; */
    
    /* margin-left: -15px; */

    /* width: 80%; */
}
.innercontainer{
  
        /* position: relative; */
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
        box-shadow: 0 2px 4px rgb(4 64 54 / 10%);
        /* height: auto; */
 padding: 10px;
}
.innercontainer  img {
    width: 25vw;
    height: 35vh;
    border-bottom: 1px solid #ffa410;
  }
  .imagelink:active{
    transform: scale(0.98);
  }
.imagelink{
  border-radius: 40px;
   box-sizing: border-box;
   justify-content: center;
  cursor: pointer;
   /* margin-left: 13px; */
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-bottom: 0px    ;
  color: black;

}
.innercontainer:hover{
    box-shadow: 0 0 40px rgba(238, 157, 157, 0.2);
    
    /* border: 1px solid rgba(172, 170, 170, 0.8); */
}
.itemname{

font-weight: bolder;
font-style: italic;
    padding: 0;
    text-align: center;
    color: #f0980a;
}
.rating{
    text-align: left;
    background-color: #ffa410;
   padding: 2px;
   padding-left: 10px;
   padding-right: 10px;
   font-size: small;
    color: aliceblue;
    border: 1pxs solid black;
  
}
h2{
    text-align: center;
}
.cart {
  margin: 10px;
  background-color: #faab2b; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  transition: 0.5 s linear;
}
.cart:hover{
  background-color: #ffa410;
}
.cart:active{
  transform: scale(0.98);
}
