<app-adminnav></app-adminnav>
<br><br><br>
<body >
    
 
<div class="itemdetails">
  <button  class="add"  style="float: right;"   (click)="addcategory()">Add category</button>
    <table>
     
        <thead>
            <tr class="title">
        <th>Id</th>
        <th>categoryname</th>
        <th>
        </th>
       
       
        <th></th>
    </tr>
    </thead>
    <tbody>
        
            <tr class="users" *ngFor="let category of categoriesdetails; let i =index">
              <td>{{i+1}}</td>
              <td>{{category.categoryname}}</td>
              <td><img class="picture" src={{images[i]}} alt=""></td>
      
            <!-- <td><button (click)="remove(category.id)" class="remove">Remove</button></td> -->
          </tr>


      
    </tbody>

    </table>

</div>
</body>





<!-- 

<body>
  <table border="2" bordercolor="green">
    <th style="width:5%">Id</th>
    <th>categoryname</th>

    <p>
      {{categoriesdetails}}
    </p>
    <tr *ngFor="let category of categoriesdetails; let i =index">
      <td>{{category.id}}</td>
      <td>{{allcategories[i]}}</td>
    </tr>

  </table>
  <p>{{restaurants}}</p>
  
   <ul  class="items"*ngFor="let items of category.category_ItemsDatas">
        <li> {{items.itemname}}</li>
      </ul> -->

      <!-- <th *ngFor="let image of images"> <a href="#"><img width="50%" [src]="image" alt="image"></a></th> -->
  <!-- <p> [ngClass]={{getImage()}}</p> -->




  <!-- <table>
    <td *ngFor="let image of images">
      <a href="#"><img width="50%" [src]="image" alt="image"></a>
    </td>
  </table> -->
  <!-- <img [src]="retrievedImage" alt=""> -->

  <!-- <p>{{images}}</p> -->

  <!-- <div class="container row">
    <div class="col-md-12">
        <div *ngIf=images>
            <img width="30%" [src]="images">
        </div>
    </div>
</div> -->