<body>
  <table border="2" bordercolor="green">
    <th style="width:5%">Id</th>
    <th>categoryname</th>
    <th style="width:30%">Restaurants</th>
    <th>Itemname</th>

    <p>
      {{categoriesdetails}}
    </p>
    <tr *ngFor="let category of categoriesdetails; let i =index">
      <td>{{category.id}}</td>
      <td>{{allcategories[i]}}</td>
    </tr>

  </table>
  <p>{{restaurants}}</p>
  
  <!-- <ul  class="items"*ngFor="let items of category.category_ItemsDatas">
        <li> {{items.itemname}}</li>
      </ul> -->

      <!-- <th *ngFor="let image of images"> <a href="#"><img width="50%" [src]="image" alt="image"></a></th> -->
  <!-- <p> [ngClass]={{getImage()}}</p> -->




  <!-- <table>
    <td *ngFor="let image of images">
      <a href="#"><img width="50%" [src]="image" alt="image"></a>
    </td>
  </table> -->
  <!-- <img [src]="retrievedImage" alt=""> -->

  <!-- <p>{{images}}</p> -->

  <!-- <div class="container row">
    <div class="col-md-12">
        <div *ngIf=images>
            <img width="30%" [src]="images">
        </div>
    </div>
</div> -->
</body>