body {
    --color-primary: #ffb411;;
    --color-primary-dark:#ffb411;;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: hsl(116, 45%, 49%);
    --border-radius: 4px;
    
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: #f5f4f2f2;
}
.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(244, 239, 239, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
}

.container,
.form-control,
.form__button {
    font:500 1rem;   
}
.form >*:first-child {
    margin-top: 0;
}

.form >*:last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
 
}
/* .has-error {
   
    margin-bottom: 1rem;
  
} */
.has-success {
    color: var(--color-success);
  
}

.form-group {
    margin-bottom: 1.8rem;
    /* display: inline-block; */
    /* width:50%; */
}
.form__button:hover{
    background: var(--color-primary-dark);
}

.form-control {
    display:block;
     width: 100%; 
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
   
}  
.form-control:focus{
    border-color: var(--color-primary);
    background: #ffffff;
}
 .has-error{
    color: var(--color-error);
    border-color: var(--color-error);
} 

.has-error{
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

input.ng-touched.ng-invalid{
    border-color: var(--color-error);
    color: var(--color-error);

}
.form__button{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
    border-radius: var(--border-radius);
    
}
.form__button:hover{
    background: var(--color-primary-dark);
}
.form__button:active{
    transform: scale(0.98);
}
.form__text{
    text-align: center;
}
.form__link{
    color:var(--color-secondary);
    cursor: pointer;
    text-decoration: none;
}
.form__link:hover{
    text-decoration: underline;

}
.form-groupsubmit{
    width: 100%;
}

header{
   margin: 0;
   padding: 0;
   font-family: "Poppins",sans-serif;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
}

   

header{
   position: fixed;
   width:100% ;
   top: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background:var(--bg-color);
   padding: 18px 70px;
   box-shadow: 0 0.5rem 50rem rgba(0, 0, 0, 0.1);
   height: 10%;

}
.logo img{
    color: var(--main-color);
    width: 50px;
    height: 40px;
   
}
.navbar a{
     padding:  20px;
    color:  var(--text-color);
    font-weight: 500;
    
}
.header .navbar{
    text-decoration: none;
    /* background-color: #1b708d; */
    list-style: none;
}

.navbar{
    display: flex;
}

.header a:hover {
    background-color: #7291cf;
    color: var(--main-color);
    cursor: pointer;
}