<app-navbar></app-navbar>
<br><br><br>
<body>
 
  <div class="cartcontainer" *ngIf="cartObj.length>0 && ordersuccess==false; else elseblock">

      <div class="Header" >
        
        <h2 class="Heading">Checkout Cart</h2>
        </div>       
        <tbody class="container" >
          <tr *ngFor="let cart of cartObj ;let i=index" class="cartitems">
            <td class="itemname"><h4>{{cart.itemname|titlecase}} </h4></td>&nbsp;&nbsp;&nbsp;&nbsp;
            <td class="price">$ {{cart.price}}</td>
            <td> <button type="button" class="quantitychange" (click)="minus(cart)">-</button>
              <span class="quantity">{{cart.qty}}</span>
              <button type="button" class="quantitychange" (click)="plus(cart)">+</button>
            </td>
            <td> <button (click)="removeCartById(cart)" type="button" class="removecart"
                data-sbmincart-idx="0">×</button></td>
            </tr>

        </tbody>
     <br>
    
      <span *ngIf="!ordersuccess && cartObj.length>0" class="totalprice">
        Total: <span class="price">${{cartTotalPrice}}</span>
      </span>
      <br>
     

      <div class="paymentdetails" *ngIf="cartObj.length>0">
        <div class="paymentcontainer">
          <div><input [(ngModel)]="pay_type" value="cash_on_delivery" type="radio" name="pay_type" /><span
              class="radio_text">Cash on Delivery</span>
          <span><input [(ngModel)]="pay_type" value="online" name="pay_type" type="radio" /><span
              class="radio_text">Online</span></span>
        </div>
       <br>
        <div>
          <textarea class="delivery_address" placeholder="Enter the Delivery address"
            [(ngModel)]="delivery_address"></textarea>
        </div>
      </div>
       
<br><br>
        <span class="placeordercontainer" >
          <button class="placeorder" (click)="checkoutCart()">Place Order</button>
        </span>
     
      
    </div>

  
  </div>


 <ng-template #elseblock>
   <br>
  
   <h2 class="empty">Cart is Empty</h2>


 </ng-template>
 <div *ngIf ="ordersuccess">


  <!-- <app-ordersucess [cartObj]="cartObj" #childcomponent></app-ordersucess> -->

 </div>
<div *ngIf="ordersuccess" >
  <div class="successcontainer">
  <h2 class="Heading">Billing details</h2>
  <tbody class="container" >
    <tr *ngFor="let cart of successcart ;let i=index" class="cartitems">
      <td class="itemname"><h4>{{cart.itemname|titlecase}} </h4></td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td class="price">$ {{cart.price}}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <td class="quantity">{{cart.qty}}</td>
       
</tr>
</tbody>
  <br>
      <span class="totalprice">
        Total: <span class="price">${{checkoutprice}}</span>
      </span>
    </div> 

</div>
</body>

 


