<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>


    <div class="container">
        <form #loginform="ngForm" id="login" (ngSubmit)="login()">

            <h1 class="form__title">Login</h1>

            <div class="form-group" [class.has-error]="phonenumber.invalid &&  phonenumber.touched"
                [class.has-success]="phonenumber.valid">
                <input type="tel" class="form-control" minlength="10" maxlength="10 " id="phonenumber" pattern="[0-9]*"
                    name="phonenumber" #phonenumber="ngModel" [(ngModel)]="userlogin.phonenumber" autofocus
                    placeholder="Phonenumber" required>
                <div class="alert alert-danger" *ngIf="phonenumber.touched && !phonenumber.valid">

                    <div *ngIf="phonenumber.errors?.['required']">Phonenumber required</div>
                    <div *ngIf="phonenumber.errors?.['minlength']">phonenumber invalid</div>
                    <div *ngIf="phonenumber.errors?.['pattern']">phonenumber invalid</div>

                </div>
            </div>
            <div class="form-group" [class.has-error]="password.invalid &&  password.touched"
                [class.has-success]="password.valid">

                <input type="password" id="password" name="password" class="form-control" #password="ngModel"
                    [(ngModel)]="userlogin.password" placeholder="Password" required>
                <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
                    <div *ngIf="password.errors?.['required']">password required</div>
                    <div *ngIf="password.errors?.['minlength']">Password is weak</div>
                </div>

            </div> -->

            <!-- <div class="form-group" style="font-size: 14px; margin-bottom: 1rem;">
                <a routerLink="" class="form__link" id="Forgot password">Forgot password?</a>
            </div> -->


            <!-- <div class="form-group">
                <button class="form__button" id="signupsubmit" type="submit">Login
                </button>
            </div>



            <p class="form__text">
                <a routerLink="/signup" class="form__link" id="linkCreateAccount">Don't have an account?
                    Create account</a>
            </p>



        </form>



    </div>

</body>

</html> -->