
    <header>
        <a href="#" class="logo"><img src="assets/images/d logo.jpg" alt="logo">Dinner Mate</a>
        <a class="togglebutton" (click)="bar() " >
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
      
        <ul class="navbar">
          <!-- <li ><a routerLink="/addrestaurant">Add Restaurant</a></li> -->
          <li ><a routerLink="/allusers">Customers</a></li>
          <li ><a routerLink="/allitems">Items</a></li>
          <li *ngIf="isloggedin()"><a routerLink="/categorydetails">Category</a></li>
              <li *ngIf="isloggedin()"><a routerLink="/allrestaurants">Restaurants</a></li>
          <li  *ngIf="!isloggedin()"id="login"> <a routerLink="/login">Log in</a></li>
          <li *ngIf="isloggedin()" id="logout"> <a>
            <button class="logout" (click)="logout()">logout</button></a></li>
      
        </ul>
      

       
        <ul class="navbar small" id="nav" [ngStyle]="{'display':(value==1)?'flex':'none'}">
          <!-- <li ><a routerLink="/addrestaurant">Add Restaurant</a></li> -->
          <li ><a routerLink="/allusers">Customers</a></li>
          <li ><a routerLink="/allitems">Items</a></li>
          <li *ngIf="isloggedin()"><a routerLink="/categorydetails">Category</a></li>
              <li *ngIf="isloggedin()"><a routerLink="/allrestaurants">Restaurants</a></li>
          <li  *ngIf="!isloggedin()"id="login"> <a routerLink="/login">Log in</a></li>
          <li *ngIf="isloggedin()" id="logout"> <a>
            <button class="logout" (click)="logout()">logout</button></a></li>
      
        </ul>
      </header> 
      <router-outlet></router-outlet>
      
      
