
    <header>
        <a href="#" class="logo"><img src="assets/images/d logo.jpg" alt="logo"></a>
        <nav class="navbar navbar-light bg-light">
          <!-- <div><input type="text" placeholder="Search for the category" [value]="searchFilter" name="" id="">&nbsp;
            <button>search</button> -->
          <!-- </div> -->
        </nav>
      
      
        <ul class="navbar">
          <li ><a routerLink="/addrestaurant">Add Restaurant</a></li>
          <!-- <li><a routerLink="/">Home</a></li> -->
          <!-- <li><a routerLink="category">Menu</a></li> -->
          <!-- <li ><a routerLink="addaddress">Add delivery address</a></li> -->
      
          <li ><a routerLink="/allusers">Admin</a></li>
          <li ><a routerLink="user">user</a></li>
          <li  id="logout">Cart 
           <li id="logout"> <a>
              <button>logout</button></a></li>
          <li  id="signup"> <a routerLink="signup">Sign up</a></li>
          <li id="login"> <a routerLink="login">Log in</a></li>
      
        </ul>
      
      </header> 
      
      
