
<app-navbar></app-navbar>
<br><br>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap" rel="stylesheet">



<div class="container">
    <div class="innercontainer"  *ngFor="let image of allrestaurant;  let i=index">
        <a class="imagelink"routerLink="items/{{allrestaurant[i].restaurantname}}">
            <img (click)="storerestaurant(allrestaurant[i].restaurantname)" class="images" src="assets/images/hotel/restaurant{{i+1}}.jpg" style="border-radius: 5px;" alt=""><br>
            <p class="restaurantname" style="font-weight:500 ;">{{allrestaurant[i].restaurantname|titlecase}}</p>
      <br>
        <!-- <span class="rating" style="font-style:italic;"> <span
                class="fa fa-star checked"></span>&nbsp;{{value[i]}}</span> -->
        <p class="categoryname" style="font-size: 16px;">Contact:  {{allrestaurant[i].restaurantcontact}}</p>
        
    </a>  
     
        <!-- <h1>{{allcategories}}</h1> -->
    </div>
</div>
