<!DOCTYPE html>
<html lang="en"> -->

<head>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">


<body>
    <!-- <navbar> -->
    <header>
        <app-navbar></app-navbar>

        <!-- <a href="#" class="logo"><img src="assets/images/d logo.jpg" alt="logo"></a>
        <a class="address" routerLink="addaddress">Add address</a>
        <ul class="navbar">

            <li><a href="#profile">Profile</a></li>
            <li><a href="#Menu">Menu</a></li>
            <li><a href="#Search">Search</a></li>
            <li><a href="#About">About</a></li>
            <li><a href="#Contact">Contact</a></li>
            <li id="login"> <a routerLink="login">Log in</a></li>
            <li id="login"> <a routerLink="signup">Sign up</a></li>

        </ul> -->

    </header>

    <!-- Home section -->
    <section class="home" id="home">
        <div class="home-text">
            <h1>Dinner Mate</h1>
            <h2>Discover the best <br>food & drinks</h2><br>
            <a href="#" class="btn">View Menu</a>
        </div>
        <div class="home-img">
            <img src="assets/images/pizza.jpg" alt="image">
        </div>

    </section>

    <!-- About -->
    <section class="about" id="About">
        <div class="about-img">
            <img src="assets\images\side-view-pizza-with-chicken-mushrooms-served-with-sauce-vegetables-salad-wooden-plate.jpg"
                width="50%" padding="30px" alt="about">
        </div>
        <div class="about-text" id=#About>
            <span>About Us</span>
            <h2>We have different styles of food</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis eum totam et? Quas, atque quos
                reiciendis eaque aliquid in consectetur aspernatur facere iure! Quidem cupiditate, commodi
                voluptatibus quas nulla omnis?</p>
            <a href="#" class="btn">Learn more</a>
        </div>
    </section>
</body>
<!-- <script src="/FoodDeliveryFrontEnd/index.js\"></script> -->

<!-- </html> -->