<!DOCTYPE html>
<html lang="en"> 

<head>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <!-- <navbar> -->
     <header  *ngIf="userlogin.roleMatch(['Admin']) else elseblock">
        <app-adminnav></app-adminnav>
   
    </header> 
    <ng-template #elseblock>
      
        <app-navbar></app-navbar>

    </ng-template>

<br><br>
    <!-- Home section -->
    <section    class="home" id="home">
        <div class="home-text">
            <h1>Dinner Mate</h1>
            <h2>Discover the best <br>food & drinks</h2><br>
            <a routerLink="/category" class="btn">View Menu</a>
        </div>
        <div class="home-img">
            <img src="assets/images/pizza.jpg" alt="image">
        </div>

    </section  >
    <section *ngIf="userlogin.roleMatch(['User'])" class="menu">

   
    <app-menu></app-menu>
</section>
  

    <!-- About -->
    <section *ngIf="userlogin.roleMatch(['User'])" class="about" id="About">
        <div class="about-text" id=#About>
            <span>About Us</span>
            <h2>We have different styles of food</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis eum totam et? Quas, atque quos
                reiciendis eaque aliquid in consectetur aspernatur facere iure! Quidem cupiditate, commodi
                voluptatibus quas nulla omnis?</p>
            <a href="#" class="btn">Learn more</a>
        </div>
    </section>
</body>


<!-- </html> -->
