@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@100&family=Montserrat:wght@100&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,400;1,100;1,400&family=Roboto:wght@100&display=swap');
body{
     --main-color:#ffb411; 
     --text-color:#1e1c2a; 
     --bg-color:#fff; 
     --big-font:4rem; 
     --h2-font:2.24rem; 
     --p-font:0.9rem;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    list-style: none;
    text-decoration: none;
     box-sizing: border-box;
    
     /* scroll-behavior: smooth;
    scroll-padding-top: 4rem; */
   

}
header{
    position: fixed;
    width:100% ;
    top: 0;
     right: 0;
    /* z-index: 1000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:var(--bg-color);
    padding: 18px 70px;
    box-shadow: 0 0.5rem 50rem rgba(0, 0, 0, 0.1);
    height: 10%;    

}
section{
    padding: 40px 10%;
}
body{
    color: var(--text-color);
    background: var(--bg-color);
    
}

 .logo img{
    color: var(--main-color);
    width: 50px;
    height: 40px;
   
}
.address{
    color: black;
}
.address:hover{
    color:var(--main-color);

}
.navbar a{
    /* font-size: 1rem; */
     /* padding: 10px 20px;  */
     padding:  20px;
    color:  var(--text-color);
    font-weight: 500;
}

.navbar{
    display: flex;
}

.navbar a:hover {
    color: var(--main-color);
}
.home{
    width: 100%;
    height:100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
}
.home-img img{
    width:100% ;
}

.home-text h1{
    font-size: var(--big-font);
    color: var(--main-color);
}

.home-text h2{
    font-size: var(--h2-font);
    /* margin: 1rem 0 1rem; */
    margin: 1rem 0 ;
}
 /* #menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
} */
.btn{
    display: inline-block;
    background:var(--main-color);
    padding: 10px 20px;
    border-radius: 0.7rem;
    color:var(--bg-color);
}
.btn:hover{
    background: #ffa410;
}


mat-grid-tile{
    background-color: aqua;
}
*{
  margin: 0;
}
.images{
  background-color: aliceblue;
  border-bottom: 1px solid #ffa410;
}

 
.container {
    display:grid;
    grid-template-columns: auto auto auto ;
    box-sizing: border-box;
    justify-content: center;
    padding: 10px;
    column-gap: 50px;
    row-gap: 50px; 
    margin-bottom: -10px;
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(220px, auto)); */
    gap: 1.5rem;
    align-items: center; 
}
.image{
    justify-content: center;
    padding: 30px;
    align-items: center;
    width: 100%;
    height:100%;
}
.innercontainer{
        /* position: relative; */
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
        box-shadow: 0 2px 4px rgb(4 64 54 / 10%);
        /* height: auto; */
 padding: 10px;
}
.imagelink{
   box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-bottom: 0px    ;
  color: black;

}
.innercontainer:hover{
    box-shadow: 0 0 40px rgba(238, 157, 157, 0.2);
    cursor: pointer;
    /* border: 1px solid rgba(172, 170, 170, 0.8); */
}
.categoryname{
    padding: 0;
    text-align: center;
}
.rating{
    text-align: left;
    background-color: #ffa410;
   padding: 2px;
   padding-left: 10px;
   padding-right: 10px;
   font-size: small;
    color: aliceblue;
    border: 1pxs solid black;
}
h2{
    text-align: center;
}
.heading {
    text-align: center;
    
  }
.heading span {
    color: var(--main-color);
    /* font-weight: 800; */
    font-size: large;
  }
  .heading h2 {
    font-size: 2.24rem;
  
  }