<header>

<a href="#" class="logo"><img src="assets/images/d logo.jpg" alt="logo"></a>
        <ul class="navbar">

            <li><a routerLink="addrestaurants">Add Restaurant</a></li>
            <li><a href="#Menu">Menu</a></li>
            <li><a href="#Search">Search</a></li>
            <li><a href="#About">About</a></li>
            <li><a href="#Contact">Contact</a></li>
            <li id="login"> <a routerLink="login">Log in</a></li>
            <li id="login"> <a routerLink="signup">Sign up</a></li>

        </ul>
    </header>

