



  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <header>
      <a href="#" class="logo"><img src="assets/images/d logo.jpg" alt="logo">Dinner Mate</a>
      <a class="togglebutton" (click)="bar() " >
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </a>
     
    
      <ul class="navbar"  >
    
        <!-- <li *ngIf="!isloggedin()"><a routerLink="/addrestaurant">Add Restaurant</a></li> -->
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/category" >Menu</a></li>
        
        <li *ngIf="isloggedin() && userlogin.roleMatch(['User'])"><a routerLink="/addaddress" >Add address</a></li>
        <li *ngIf="userlogin.roleMatch(['User'])"><a routerLink="/user" >Profile</a></li>
        <li *ngIf="isloggedin() && userlogin.roleMatch(['User'])" id="cart"> <a routerLink="/cart"><i class="fa fa-shopping-cart">Cart </i>&nbsp;
          <!-- <span class="cartvalue">{{noofitems}} -->

          <!-- </span> -->

         </a>
        
        </li>

        <!-- <li *ngIf="isloggedin() &&userlogin.roleMatch(['user'])" id="logout">Cart  -->
         <li *ngIf="isloggedin()"> <a>
            <button   id="logout"(click)="logout()">logout</button></a></li>
        <li *ngIf="!isloggedin()" id="signup"> <a routerLink="/signup">Sign up</a></li>
        <li *ngIf="!isloggedin()" id="login"> <a routerLink="/login">Log in</a></li>
    
      </ul>




      <ul class="navbar small" id="nav" [ngStyle]="{'display':(value==1)?'flex':'none'}"    >
       
    
        <!-- <li *ngIf="!isloggedin()"><a routerLink="/addrestaurant">Add Restaurant</a></li> -->
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/category" >Menu</a></li>
        <li *ngIf="isloggedin() && userlogin.roleMatch(['Admin'])"><a routerLink="../admin/allusers">UsersList</a></li>
        <li *ngIf="isloggedin() && userlogin.roleMatch(['Admin'])"><a routerLink="#">All restaurants</a></li>
        <li *ngIf="isloggedin() && userlogin.roleMatch(['User'])"><a routerLink="/addaddress" >Add address</a></li>
    
        <li *ngIf="userlogin.roleMatch(['Admin'])"><a routerLink="" >Admin</a></li>
        <li *ngIf="userlogin.roleMatch(['User'])"><a routerLink="/user" >Profile</a></li>
        <li *ngIf="isloggedin() && userlogin.roleMatch(['User'])" id="cart"> <a routerLink="/cart"><i class="fa fa-shopping-cart">Cart </i>&nbsp;
          <!-- <span class="cartvalue">{{noofitems}} -->

          <!-- </span> -->

         </a>
        
        </li>

        <!-- <li *ngIf="isloggedin() &&userlogin.roleMatch(['user'])" id="logout">Cart  -->
         <li *ngIf="isloggedin()"> <a>
            <button   id="logout"(click)="logout()">logout</button></a></li>
        <li *ngIf="!isloggedin()" id="signup"> <a routerLink="/signup">Sign up</a></li>
        <li *ngIf="!isloggedin()" id="login"> <a routerLink="/login">Log in</a></li>
    
      </ul>
    
 
    
    </header> 
    <router-outlet></router-outlet>
    
    