@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@100&family=Montserrat:wght@100&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,400;1,100;1,400&family=Roboto:wght@100&display=swap');
body{
     --main-color:#ffb411; 
     --text-color:#1e1c2a; 
     --bg-color:#fff; 
     --big-font:4rem; 
     --h2-font:2.24rem; 
     --p-font:0.9rem;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    list-style: none;
    text-decoration: none;
     box-sizing: border-box;
   

}
header{
    position: fixed;
    width:100% ;
    top: 0;
     right: 0;
    /* z-index: 1000; */
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    background:var(--bg-color);
    padding: 18px 70px;
    box-shadow: 0 0.5rem 5rem rgba(0, 0, 0, 0.1);
    height: 10%;
    background-color:
    #ffffff;
    

}

body{
    color: var(--text-color);
    background: var(--bg-color);
    
}

 .logo img{
    color: var(--main-color);
    width: 50px;
    height: 40px;
   
}
.address{
    color: black;
}
.address:hover{
    color:var(--main-color);

}
.navbar a{
     padding:  20px;
    color:  var(--text-color);
    font-weight: 500;
}

.navbar{
    display: flex;
}

.navbar a:hover {
    color: var(--main-color);
    /* color: #fff; */
}
.cartvalue{
  position: absolute;
font-weight: 800;
}

/* @media (min-width: 768px) {
    .navbar-nav > li > a { */
      /* (80px - line-height of 27px) / 2 = 26.5px */
      /* padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
    }
} */
/* @media (max-width: 808px) {

    .navbar {
      position: absolute;
      top: -400px;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      text-align: center;
      background: var(--bg-color);
      box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
      transition: 0.2s ease;
    }
    .navbar.active {
      top: 100%;
    }
    .navbar a {
      padding: 1.5rem;
      display: block;
      background: var(--bg-color);
    }
  } */