@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@100&family=Montserrat:wght@100&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,400;1,100;1,400&family=Roboto:wght@100&display=swap');
body{
     --main-color:#ffb411; 
     --text-color:#1e1c2a; 
     --bg-color:#fff; 
     --big-font:4rem; 
     --h2-font:2.24rem; 
     --p-font:0.9rem;
}
.logo{
  color:#ffb411;
  
}
#logout{
  background-color: #ffb411;
  padding: 3px;
  border: 1px solid #ffb411;
  cursor: pointer;
  border-radius: 4px;
  color: #ffffff;
}
#logout:active{
  transform: scale(0.98);

}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    list-style: none;
    text-decoration: none;
     box-sizing: border-box;
   

}
header{
    position: fixed;
    width:100% ;
    top: 0;
     right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:var(--bg-color);
    padding: 18px 70px;
    box-shadow: 0 0.5rem 5rem rgba(0, 0, 0, 0.1);
   
    background-color: #ffffff;
    

}

body{
    color: var(--text-color);
    background: var(--bg-color);
    
}

 .logo img{
    color: var(--main-color);
    width: 50px;
    height: 40px;
   
}
.address{
    color: black;
}
.address:hover{
    color:var(--main-color);

}
.navbar a{
  padding:  20px;
 color:  var(--text-color);
 font-weight: 500;
}

.navbar{
    display: flex;
}

.navbar a:hover {
    color: var(--main-color);
   
}
.cartvalue{
  position: absolute;
font-weight: 800;
}
.togglebutton{
  position:absolute;
  top:0.75rem;
  right:1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.togglebutton .bar{
  height: 3px;
  width: 100%;
  background-color: #ffb411 ;
  border-radius:10px;

}


@media (max-width: 808px) {
  header{   
    background:var(--bg-color);
    display: block;  
    background-color: #ffffff;     


box-sizing: border-box;
}
 

#nav{
  display: none;
}

header .navbar li {

 
  display: block;
  justify-content: right;
  text-align: center;
  padding: .5rem 1rem;

}
.togglebutton{
  top:30px;
  display: flex;
}
.navbar{ 

  display: none;
}
.navbar{
  flex-direction: column;
  padding: 3px;
}
.navbar:active{
  display: flex;
}
.small:hover{
  color: #ffb411;
}



  }