<app-navbar></app-navbar>
<br><br><br><br>

<body>
   
  
      <div class="addresscontainer">
<h2 style=" font-family: 'Poppins',sans-serif; font-weight:500">Add delivery address</h2>
<form (ngSubmit)="addaddress()" >
  <br>



 <textarea  class="addressinput" name=address [(ngModel)]="useraddress.address"  placeholder="Add your address"  name="address" required  #address="ngModel"></textarea>

 <div class="alert alert-danger" *ngIf="address.touched && !address.valid">
  <div *ngIf="address.errors?.['required']">Address required</div>
</div>
 <br> <br>
    <button  class="addressform__button" id="addaddressbutton" type="submit">

       Submit
    </button>
    <br><br>

</form>
</div>
</body>



